.showName{
    font-size: 40px;
    font-weight: 400;
}
.overview{
    font-size: 20px;
    font-weight: 400;
    height: 100px;
    overflow-y: hidden;
    margin: 5px;
}
.overview:hover{
    overflow-y: auto;
}
.ratingContainer{
display: flex;
}